<div class="edit-dog-background">
  <div class="edit-dog-form-container">
    <h2>Edit Dog Details</h2>

    <%= simple_form_for [@dog] do |f|%>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :breed %>
      <%= f.input :image, label: 'Image URL' %>
      <%= f.input :hourly_price, label: 'Hourly Price (¥)' %>
    <div class="edit-dog-image-content">
      <h4> Current Profile Image </h4>
      <% unless @dog.images_url.nil? %>
        <div id="dog-image">
          <%= image_tag @dog.images_url.first %>
        </div>
      <% end %>
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
