<div class="form-container-monkeys">
  <div class="card-category-monkeys">


    <%= simple_form_for [@owner, @dog] do |f|%>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :breed %>
    <%= f.input :image  %>
    <div class="center-button-container-monkeys">
      <%= f.button :submit, "Preview", formaction: owner_preview_dog_path, class: "dog-btn" %>
    </div>

    <% unless @dog.image.nil? %>

        <%= image_tag @dog.image, width: 300 %>


    <% end %>

    <h3>Available Playdate</h3>
    <div class="inline-items-monkeys">
      <%= f.input :date, label: false %>
    </div>

    <h3>Available Time</h3>
    <div class="inline-items-monkeys">
       <%= f.input :time, label: false %>
    </div>


    <div class="center-button-container-monkeys">
      <%= f.button :submit, "Add", class: "dog-btn" %>

    </div>
    <% end %>

  </div>
</div>
<!--

f.input :remember_me, as: :boolean, inline_label: 'Remember me', label: false
 -->
