Dog Create Page

<%= simple_form_for [@owner, @dog] do |f|%>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :breed %>
<%= f.input :image  %>
<%= f.input :hourly_price %>
<%= f.submit "Preview", formaction: owner_preview_dog_path %>
<% unless @dog.image.nil? %>
  <div id="rounded-border">
    <%= image_tag @dog.image, width: 300 %>
  <div class="card-content">
<% end %>
<h4>Available Time</h4>
<%= f.input :date %>
<%= f.input :time %>
<%= f.submit %>
<% end %>
