<div class="banner-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('<%= image_path 'home.jpg' %>')">
    <div class="banner-links-container">
      <span class="banner-link"><%= link_to "Become an Owner", new_owner_registration_path %></span>
      <span class="banner-link"><%= link_to "Sign Up", new_user_registration_path %></span>
      <span class="banner-link"><%= link_to "Login", new_user_session_path %></span>
    </div>
    <div class="banner-content">
      <h1>PlayPaws</h1>
        <p>Take a break. Find a <i class="fas fa-paw"></i></p>
        <%= link_to "Browse", dogs_path, class: "btn btn-lg" %>
    </div>
  </div>
</div>
