<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <%= image_tag "logo.png", alt: "PlayPaws" %>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <%= link_to dogs_path do %>
      <span>Browse<i class="fas fa-paw"></i></span>
    <% end %>
    <!-- <a href="#" class="navbar-btn btn-medium">Browse</a> -->
    <!-- Profile picture with dropdown list -->
    <div class="navbar-item">
      <% if user_signed_in? || owner_signed_in? %>
        <div class="dropdown">
          <div class="avatar dropdown-toggle" id="navbar-menu" data-toggle="dropdown">
            <% if current_owner %>
            <%= image_tag(current_owner.avatar_url) %>
            <% elsif current_user %>
            <%= image_tag(current_user.avatar_url) %>
            <% end %>
          </div>
          <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
            <% if current_user || current_owner %>
            <li><%= link_to "Profile", profile_user_path %></li>
            <% end %>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      <% else %>
      <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
